.dl-icon {
  --dl-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--dl-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .dl-icon--$(val) {
    --dl-icon-color: var(--dl-color-$(val));
  }
}
